h2{
    font-size: 23px;
     color:rgb(255, 182, 251);
     letter-spacing: 0.5;
     text-align: center;
}

.playfair-display-text {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 12px;
  font-style: normal;
  justify-content: center;
  align-items: center;
  background-image: url('fall.png');
  background-repeat: no-repeat;
  padding: 15px;
  margin-left: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  width: 400px;
  height: 750px;
  color: rgb(248, 225, 233); 
}
body{
    background-color: rgb(24, 24, 24);
    line-height: 1.6;
}
footer{
    text-align: right;
    width: 20px;
}
.bas{
    text-align: right;
    margin-top: 10px;

}
